@import "tailwindcss";

@theme {
    --color-primary: #2463eb;
    --color-background-light: #f6f6f8;
    --color-background-dark: #111621;
    --color-success: #10b981;
    --color-error: #ef4444;

    --font-display: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;
}

/* Hide scrollbars globally but keep scrolling functional */
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}